html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    background: #02b3e4;
    cursor: default;
    animation: flip .4s;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    font-size: 33px;
    background: #02ccba;
}

.deck .card.no-match {
    font-size: 33px;
    background: #e25a61;
    animation: toss .4s;
}

.deck .card.pulse {
    animation: pulse .7s;
}

@keyframes flip {
    0% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes pulse {
  0% {
    transform: scale(1.4, 1);
  }

  20% {
    transform: scale(1, 1.2);
  }

  40% {
    transform: scale(1.1, 1);
  }

  60% {
    transform: scale(1, 1.1);
  }

  80% {
    transform: scale(1.05, 1);
  }

  /* You could think of as "step 2" */
  100% {
    transform: scale(1);
  }
}

@keyframes toss {
    0% {
        transform: rotate(2deg)
    }

    25% {
        transform: rotate(5deg) translate(.55em)
    }

    50% {
        transform: rotate(-5deg) translate(-1.1em);
    }

    100% {
        transform: rotate(2deg)
    }
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.score-panel .left, .right {
    display: flex;
}

.score-panel .right {
    width: 90px;
    justify-content: space-between;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
    margin: 0px 0px 0px 0px;
}

/**

MODAL STYLES

*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    animation: modalopen 2s;
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17)
}

.modal-text {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.playAgain {
    transform: translate(43%);
}

.playAgainBtn {
    padding: 1em 2em;
    border: 0;
    background: #02ccba;
    color: #fff;
    cursor: pointer;
}

.closeBtn:hover, .closeBtn:focus {
    color #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from { opacity: 0 }
    to { opacity: 1 }
}



/*TODO: Media queries*/

/* smallest window

.modal-title {
    font-size: 1em;
}

*/